/* Reset 
---------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Geral
---------------------------------*/
.row {
    width: 100%;
    float: left;
}
.content {
    width: 960px;
    margin: 0 auto;
}
/* Header
---------------------------------*/